<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionService" class="ru.otus.testing.service.QuestionServiceImpl" init-method="init">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="surveyService" class="ru.otus.testing.service.SurveyServiceImpl">
        <constructor-arg name="questionService" ref="questionService"/>
    </bean>


    <bean id="questionDao" class="ru.otus.testing.dao.QuestionDaoCsv">
        <constructor-arg name="resourceLoader" ref="resourceLoader"/>
        <constructor-arg name="resourceName" value="classpath:csv/questions.csv"/>
    </bean>

    <bean id="resourceLoader" class="org.springframework.core.io.DefaultResourceLoader">
    </bean>

</beans>
