<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="row justify-content-center">
    <div class="col-3" th:align="right">
        библиотека - жанры
    </div>
    <div class="col-3" th:align="right">
        <div th:insert="/authontificate :: authontificate"></div>
    </div>
</div>
<hr>
<div th:insert="/menu :: menu"></div>
<hr>
<div class="row justify-content-center">
    <div class="col-1.5" th:insert="/genre/action :: action"></div>
    <div class="col-5">
        <form id="edit-form" th:action="@{/genre/edit}" th:method="post">
            <input type="hidden" name="genreId" th:value="${genre.genreId}">
            <div class="form-group">
                <label for="genre-name">Жанр</label>
                <input type="text" class="form-control" id="genre-name" name="name" th:value="${genre.name}" placeholder="жанр">
            </div>
            <input type="submit" class="btn btn-success btn-sm" value="Сохранить"/>
        </form>
    </div>
</div>
</body>
</html>