<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title/>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="authontificate">
    <div class="row justify-content-center" style="vertical-align:middle">
        <div class="col-4">
            <label th:text="${userName}">пользователь</label>
        </div>
        <div class="col-1">
            <a th:href="@{/logout}" href="/logout" class="btn btn-sm btn-link"><i> Выйти </i></a>
        </div>
    </div>
</div>
</body>
</html>