<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="row">
    <div class="col">
    </div>
    <div class="col-3" th:align="center">
        библиотека - авторы
    </div>
    <div class="col">
    </div>
</div>
<hr>
<div th:insert="/menu :: menu"></div>
<hr>
<div class="row justify-content-center">
    <div class="col-1.5" th:insert="/author/action :: action"></div>
    <div class="col-5">
        <form id="edit-form" th:action="@{/author/edit}" th:method="post">
            <input type="hidden" name="id" th:value="${author.id}">
            <div class="form-group">
                <label for="author-name">Имя автора</label>
                <input type="text" class="form-control" id="author-name" name="name" th:value="${author.name}" placeholder="имя автора">
            </div>
            <div class="form-group">
                <label for="author-county">Страна</label>
                <input type="text" class="form-control" id="author-county" name="country"  th:value="${author.country}" placeholder="страна">
            </div>
            <input type="submit" class="btn btn-success btn-sm" value="Сохранить"/>
        </form>
    </div>
</div>
</body>
</html>